@media (max-width: 1024px) {
  .a1-page-layout__header:has(.a1-side-nav--open) {
    z-index: 1000;
  }

  .a1-page-layout__header .a1-side-nav__scrim {
    z-index: 1000;
  }

  .a1-page-layout__header .a1-side-nav {
    inset-block: 0;
    height: 100vh;
    height: 100dvh;
    max-height: 100dvh;
    z-index: 1001;
  }
}
